.services-container {
  background: #fdf6ed;
  background-image: url(../../assets/services/class-shape-1.png.png),
    url(../../assets/services/class-shape-2.png.png);
  background-repeat: no-repeat;
  background-position: left bottom, top right;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: rem(134) 0;

    .sub-text {
      font-size: rem(19);
      line-height: rem(30);
      font-weight: 400;
      font-family: "Sacramento", cursive;
      color: #ea512e;
      margin-bottom: rem(5);
    }

    .title {
      font-size: rem(45);
      line-height: rem(54);
      font-weight: 700;
      font-family: "Catamaran", sans-serif;
      color: #1b0238;
      margin-bottom: rem(35);
    }

    .content-wrapper {
      display: flex;
      gap: rem(40);

      div,
      ul {
        width: calc(50% - 20px);
      }

      .img-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../../assets/about-us/shape-1.png),
          url(../../assets/about-us/shape-2.png), url(../../assets/about-us/shape-3.png);
        background-repeat: no-repeat;
        background-position: left top, 8% 95%, right bottom;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          animation: bounce3 2s ease infinite;
          @keyframes bounce3 {
            0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
            40% {transform: translateY(-30px);}
            60% {transform: translateY(-15px);}
          }
        }
      }

      .text-wrapper {
        display: flex;
        flex-wrap: wrap;
        row-gap: rem(50);
        column-gap: rem(46);

        li {
          width: calc(50% - 23px);
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            width: rem(108px);
            height: rem(105);
            object-fit: cover;
            margin-bottom: rem(10);
          }

          h3 {
            font-size: rem(25);
            line-height: rem(30);
            font-weight: 700;
            color: #1b0238;
            font-family: "Catamaran", sans-serif;
            margin-bottom: rem(10);
            text-align: center;
          }

          p {
            font-size: rem(16);
            line-height: rem(28.8);
            font-weight: 400;
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
              "Helvetica Neue", sans-serif;
            color: #6b6b84;
            text-align: center;
            margin-top: auto;
          }
        }
      }
    }
  }

  @media #{$tab} {
    background-size: 20%;

    .wrapper {
      padding: rem(48) 0 rem(80);
      .content-wrapper {
        flex-direction: column;
        align-items: center;

        div,
        ul {
          width: 100%;
        }

        .img-wrapper {
          display: flex;
          justify-content: center;
          img {
            width: 80%;
          }
        }
      }
    }
  }
}
